{% extends "index.html" %}


{% block body %}
   
    <div class="bg-image"></div>
   
    <div class="search-bar">
        <div class="main-search-input-wrap">
            <div class="main-search-input fl-wrap">
                <div class="main-search-input-item">

                  <form action="{{ url_for('home')}}" method="POST">
                  <input type="text" name="skill" placeholder="Search"> </div> 
                   <button class="main-search-button" onclick="location.href='#pointer'">Search</button>
                  </form>

            </div>
        </div>
        <div class="input-group"></div><i class="fas fa-align-center"></i>
    </div>
    {% if people %}
    <div class="container-fluid text-center">
        <h2 id="res_heading">Result</h2>
    </div>

    <div class="container mt-5">
        <table class="table table-hover col=col-sm-12">
            <thead id="table" class="table-dark">
                <tr>
                    <th scope="col">Sl.No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Branch and Sem</th>
                    <th scope="col">Stack</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Profile</th>
                </tr>
            </thead>
            <tbody>
                {% for person in people %}
                <tr>
                    <th scope="row">{{people.index(person)+1}}</th>
                    <td>{{person.name}}</td>
                    <td>{{person.education_status}}</td>
                    <td>{{person.field}}</td>
                    <td>{{person.phno}}</td>
                    <td><a href="{{ url_for('profile',id=person.id) }}">View Profile</a></td>
                </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% endblock %}
