<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reachout</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon"
        href="bg3.png"
        type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <header class=fixed-top>
  <div class="row">
    <div class="col">
    <nav class="navbar-inverse navbar fixed-top scrolling-navbar">
      <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ReachOut</a>
            </div>

            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="#">Home</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">About</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
  </div>
</div>
  </header>
    
  
    <div class="bg-image"></div>
   
    <div class="search-bar">
        <div class="main-search-input-wrap">
            <div class="main-search-input fl-wrap">
                <div class="main-search-input-item">
                  <form method="POST">
                  <input type="text" value="" placeholder="Search"> </div> <button
                    class="main-search-button">Search</button>
                  </form>
            </div>
        </div>
        <div class="input-group"></div><i class="fas fa-align-center"></i>
    </div>

    <div class="container-fluid text-center">
        <h2>Result</h2>
    </div>

    <div class="container mt-5">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Sl.No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Branch and Sem</th>
                    <th scope="col">Stack</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Profile</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>CSE S3</td>
                    <td>UI</td>
                    <td>9997776650</td>
                    <td>profile1</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Tommy</td>
                    <td>CSE S4</td>
                    <td>Web development</td>
                    <td>9991236650</td>
                    <td>profile2</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Rexy</td>
                    <td>CSE S4</td>
                    <td>Python</td>
                    <td>8797776650</td>
                    <td>profile3</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>