<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reachout</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon"
        href="bg3.png"
        type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='style1.css')}}">
    {% block style %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header class=fixed-top>
        <div class="row">
          <div class="col">
          <nav class="navbar-inverse navbar fixed-top scrolling-navbar">
            <div class="container-fluid">
                  <div class="navbar-header">
                      <a class="navbar-brand" href="/">ReachOut</a>
                  </div>
      
                  <ul class="nav navbar-nav navbar-left">
                      <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
                  </ul>
      
                  <ul class="nav navbar-nav navbar-left">
                      <li><a href="#table">Result</a></li>
                  </ul>
      
                  {% if current_user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('profile',id=current_user.id) }}"> Welcome..{{current_user.name}}</a></li>
                    </ul>
        
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>

                  {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{url_for('register')}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    </ul>
        
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>

                  {% endif %}
      



              </div>
          </nav>
        </div>
      </div>
        </header>
    {% block body %}
    

    
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>