{% extends "index.html" %}

{% block style %}<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='style.css')}}">{% endblock %}


{% block body %}
    
<div class="bg-image">
    <div class="bg-text ">
        <div class="personal-det">
            <h1 class="name">{{user.name}}</h1>
            <br>
            <br>
            <h3 class="class">{{user.education_status}}</h3>
        </div>
        <div>
            <h4 class="phone">Contact:{{user.phno}}</h4>
        </div>
        <div>
            <h4 class="mail">e-mail:{{user.email}}</h4>
        </div>
        <div class="more-det">
            <h1 class="more">DOMAIN : {{user.field}}</h1>
            <h1 class="more">ACHEIVEMENTS : 1st runner up in College fest 2021</h1>
            <h1 class="more">PROJECTS : <button type="button" class="btn btn-primary" onclick="location.href='{{user.projects}}'">View</button></h1>
        </div>
    </div>
</div>

    
{% endblock %}
